.diet-filters {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  font-weight: 600;
  gap: 15px;
  margin-bottom: 16px;
}
.diet-filter-btn {
  font-size: 18px;
  color: #808080;
  border: none;
  background-color: transparent;

  &.active {
    color: #000; // black background
    border-bottom: 1px solid black;
  }
}
.diet-screen {
  &__label {
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 50px;
  }

  &__item {
    margin-bottom: 50px;
    position: relative;

    &__image {
      border-radius: 20px;
    }

    &__info-wrapper {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      padding: 9px 16px;
      bottom: 6px;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(3px); /* ✅ actual blur effect */
      -webkit-backdrop-filter: blur(5px); /* for Safari support */
      gap: 15px;

      &__name {
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__name[title] {
        cursor: help;
      }

      &__add-info {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        opacity: 100%;
        gap: 8px;
      }
    }
  }
}

.span {
  font-weight: 400;
}
