@mixin title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}

@mixin subtitle {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 100px;
}

@mixin selected {
  border: 3px solid #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}
