@mixin title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

@mixin subtitle {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

@mixin selected {
  border: 2px solid #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}
