@use "../../styles/mixins" as *;

.age-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100svh;
  padding-bottom: 20vw;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.27vw;
    row-gap: 1.27vw;

    justify-items: center;

    &__title {
      @include title;
      margin-top: 1vw;
    }

    &__subtitle {
      @include subtitle;
      margin-bottom: 10vw;
    }

    &__option {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 0.76vw solid transparent;
      border-radius: 3.05vw;
      padding: 2.54vw;
      cursor: pointer;
      transition: border 0.2s ease, transform 0.2s ease;

      &.selected {
        @include selected;
      }

      &:hover {
        transform: scale(1.05);
      }

      &__image {
        width: 35vw;
        height: 42vw;
        object-fit: cover;
      }
    }
  }
}
