@use "../../styles/mixins" as *;

.gender-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vw;

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 3.82vw;

    &__option {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.selected {
        .gender-screen__wrapper__option__image {
          @include selected;
        }
      }

      &__image {
        width: 43vw;
        height: 74.55vw;
        border-radius: 6.36vw;
      }

      &__label {
        margin-top: 2.54vw;
        font-size: 6.11vw;
        font-weight: 600;
      }
    }
  }

  &__title {
    margin-top: 10vw;
    @include title;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 10vw;
  }
}
