.progress-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  gap: 10px;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #d2ebff;
  border-radius: 10px;
}
