.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  border-radius: 25px;
  width: 250px;
  height: 60px;
  cursor: pointer;
  margin-top: 45px;

  &--disabled {
    opacity: 0.2;
  }
}
