@use "../../styles/mixins" as *;

.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; // prevent horizontal scroll

  &__image {
    max-width: 100%;
    height: auto; // maintain aspect ratio
  }

  &__title {
    @include title;
    text-align: center;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 10vw;
    text-align: center;
  }

  // Mobile-specific adjustments
  @media (max-width: 768px) {
    &__title {
      font-size: 6vw; // scale title for smaller screens
    }

    &__subtitle {
      font-size: 4vw; // scale subtitle for smaller screens
    }

    &__image {
      max-width: 90%; // reduce image size slightly for small screens
    }
  }
}
