@use "../../styles/mixins" as *;

.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding-bottom: 20vw;
  box-sizing: border-box;
  overflow: hidden;

  &__image {
    max-width: 100%;
  }

  &__title {
    @include title;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 10vw;
  }
}
