@use "../../styles/mixins" as *;

.goal-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vw;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.82vw;
    margin-bottom: 15.27vw;

    &__option {
      display: flex;
      align-items: center;
      gap: 3.82vw;
      padding: 2.54vw;
      border: 0.25vw solid black;
      border-radius: 4.58vw;
      transition: border 0.2s ease, transform 0.2s ease;

      &.selected {
        @include selected;
      }

      &:hover {
        transform: scale(1.05);
      }

      &__image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15.27vw;
        height: 15.27vw;
        background-color: #eaf2ff;
        border-radius: 1.78vw;

        &__image {
          width: 10.18vw;
          height: 10.18vw;
        }
      }

      &__label {
        font-size: 4.83vw;
        font-weight: 600;
      }

      &.muscle {
        .goal-screen__wrapper__option__image-wrapper__image {
          width: 7.63vw;
          height: 10.94vw;
        }
      }

      &.fit {
        .goal-screen__wrapper__option__image-wrapper__image {
          width: 12.21vw;
          height: 9.16vw;
        }
      }

      &.weight {
        .goal-screen__wrapper__option__image-wrapper__image {
          width: 11.96vw;
          height: 11.2vw;
        }
      }
    }
  }

  &__title {
    @include title;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 10vw;
  }
}
